---
variables:
  CIBUILDER_IMAGE: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stack4ops/cibuilder"
  #CIBUILDER_IMAGE: "docker.io/stack4ops/cibuilder"
  CIBUILDER_REF: "rootless"

image: "${CIBUILDER_IMAGE}:${CIBUILDER_REF}"

workflow:
  rules:
    # Trigger rules:
    # The default CI_PIPELINE_SOURCE trigger is schedule
    # Edit or comment in other trigger below

    # Create a pipline on web "Run pipline"
    - if: $CI_PIPELINE_SOURCE == "web"

    # Create a pipline on schedules
    # - if: $CI_PIPELINE_SOURCE == "schedule"

    # Create a pipline on every push commit
    # - if: $CI_PIPELINE_SOURCE == "push"

    # Create a pipeline on merge_requests_event
    # - if: $CI_PIPELINE_SOURCE == "merge_request_event"

    # Example: Create pipeline on every push on every branch except main branch
    # - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    #   when: never
    - when: never

stages:
  - check
  - build
  - test
  - deploy

check:
  stage: check
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: check
  script:
    - /bin/true
  
build-amd64:
  stage: build
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: build
  script:
    - /bin/true
  tags:
    - saas-linux-medium-amd64

build-arm64:
  stage: build
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: build
  script:
    - /bin/true
  tags:
    - saas-linux-medium-arm64

test-amd64:
  stage: test
  services:
    - name: docker:dind
      alias: docker
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: test
  script:
    - /bin/true
  tags:
    - saas-linux-medium-amd64

test-arm64:
  stage: test
  services:
    - name: docker:dind
      alias: docker
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: test
  script:
    - /bin/true
  tags:
    - saas-linux-medium-arm64

deploy:
  stage: deploy
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: deploy  
  script:
    - /bin/true