variables:
  CIBUILDER_IMAGE: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stack4ops/cibuilder"
  #CIBUILDER_IMAGE: "docker.io/stack4ops/cibuilder"
  CIBUILDER_REF: 'rootless'
  CIBUILDER_RUNNER: 'cibuilder-amd64'

image: "${CIBUILDER_IMAGE}:${CIBUILDER_REF}"

include:
  - component: $CI_SERVER_FQDN/$CIBUILDER_COMPONENTS_PATH/trigger@main
    inputs:
      enable_web: "true"

stages:
  - all
  
all:
  stage: all
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: all
  script:
    - /bin/true
  tags:
    - $CIBUILDER_RUNNER
