---
# the demo is multi CI with gitlab as master
# should be assigned by pipeline input to keep config generic
# demo or blueprint repos with github or other CI should define their own defaults
# available runner in premium account
spec:
  inputs:
    CIBUILDER_RUNNER_ALL_AMD64:
      default: saas-linux-medium-amd64
    CIBUILDER_RUNNER_ALL_ARM64:
      default: saas-linux-medium-arm64
    CIBUILDER_RUNNER_CHECK_AMD64:
      default: saas-linux-medium-amd64
    CIBUILDER_RUNNER_CHECK_ARM64:
      default: saas-linux-medium-arm64
    CIBUILDER_RUNNER_BUILD_AMD64:
      default: saas-linux-large-amd64
    CIBUILDER_RUNNER_BUILD_ARM64:
      default: saas-linux-large-arm64
    CIBUILDER_RUNNER_TEST_AMD64:
      default: saas-linux-medium-amd64
    CIBUILDER_RUNNER_TEST_ARM64:
      default: saas-linux-medium-arm64
    CIBUILDER_RUNNER_DEPLOY_AMD64:
      default: saas-linux-medium-amd64
    CIBUILDER_RUNNER_DEPLOY_ARM64:
      default: saas-linux-medium-arm64  
variables:
  CIBUILDER_IMAGE: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stack4ops/cibuilder"
  #CIBUILDER_IMAGE: "docker.io/stack4ops/cibuilder"
  CIBUILDER_REF: "rootless"

image: "${CIBUILDER_IMAGE}:${CIBUILDER_REF}"

workflow:
  rules:
    # Trigger rules:
    # The default CI_PIPELINE_SOURCE trigger is schedule
    # Edit or comment in other trigger below

    # Create a pipline on web "Run pipline"
    - if: $CI_PIPELINE_SOURCE == "web"

    # Create a pipline on schedules
    # - if: $CI_PIPELINE_SOURCE == "schedule"

    # Create a pipline on every push commit
    # - if: $CI_PIPELINE_SOURCE == "push"

    # Create a pipeline on merge_requests_event
    # - if: $CI_PIPELINE_SOURCE == "merge_request_event"

    # Example: Create pipeline on every push on every branch except main branch
    # - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    #   when: never
    - when: never

stages:
  - all
  
all:
  stage: all
  variables:
    # all: defaults to build and deploy run. 
    # check and test runs can be enabled by CIBUILD_BUILD_CHECK_ENABLED=1, CIBUILD_BUILD_TEST_ENABLED=1
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: all
    
  script:
    - /bin/true
  tags:
    - $[[ inputs.CIBUILDER_RUNNER_ALL_AMD64 ]]
