variables:
  CIBUILDER_IMAGE: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stack4ops/cibuilder"
  #CIBUILDER_IMAGE: "docker.io/stack4ops/cibuilder"
  CIBUILDER_REF: 'rootless'

  CIBUILDER_RUNNER_CI_ALL_AMD64: 'saas-linux-medium-amd64'
  CIBUILDER_RUNNER_CI_ALL_ARM64: 'saas-linux-medium-arm64'
  CIBUILDER_RUNNER_CI_CHECK_AMD64: 'saas-linux-medium-amd64'
  CIBUILDER_RUNNER_CI_CHECK_ARM64: 'saas-linux-medium-arm64'
  CIBUILDER_RUNNER_CI_BUILD_AMD64: 'saas-linux-medium-amd64'
  CIBUILDER_RUNNER_CI_BUILD_ARM64: 'saas-linux-medium-arm64'
  CIBUILDER_RUNNER_CI_TEST_AMD64: 'saas-linux-medium-amd64'
  CIBUILDER_RUNNER_CI_TEST_ARM64: 'saas-linux-medium-arm64'
  CIBUILDER_RUNNER_CI_DEPLOY_AMD64: 'saas-linux-medium-amd64'
  CIBUILDER_RUNNER_CI_DEPLOY_ARM64: 'saas-linux-medium-arm64'

  CIBUILDER_RUNNER_EXTERNAL_ALL_AMD64: 'cibuilder-amd64'
  CIBUILDER_RUNNER_EXTERNAL_ALL_ARM64: 'cibuilder-arm64'
  CIBUILDER_RUNNER_EXTERNAL_CHECK_AMD64: 'cibuilder-amd64'
  CIBUILDER_RUNNER_EXTERNAL_CHECK_ARM64: 'cibuilder-arm64'
  CIBUILDER_RUNNER_EXTERNAL_BUILD_AMD64: 'cibuilder-amd64'
  CIBUILDER_RUNNER_EXTERNAL_BUILD_ARM64: 'cibuilder-arm64'
  CIBUILDER_RUNNER_EXTERNAL_TEST_AMD64: 'cibuilder-amd64'
  CIBUILDER_RUNNER_EXTERNAL_TEST_ARM64: 'cibuilder-arm64'
  CIBUILDER_RUNNER_EXTERNAL_DEPLOY_AMD64: 'cibuilder-amd64'
  CIBUILDER_RUNNER_EXTERNAL_DEPLOY_ARM64: 'cibuilder-arm64'

image: "${CIBUILDER_IMAGE}:${CIBUILDER_REF}"

workflow:
  rules:
    # Trigger rules:
    # The default CI_PIPELINE_SOURCE trigger is schedule
    # Edit or comment in other trigger below

    # Create a pipline on web "Run pipline"
    - if: $CI_PIPELINE_SOURCE == "web"

    # Create a pipline on schedules
    # - if: $CI_PIPELINE_SOURCE == "schedule"

    # Create a pipline on every push commit
    # - if: $CI_PIPELINE_SOURCE == "push"

    # Create a pipeline on merge_requests_event
    # - if: $CI_PIPELINE_SOURCE == "merge_request_event"

    # Example: Create pipeline on every push on every branch except main branch
    # - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    #   when: never
    - when: never

stages:
  - all
  
all:
  stage: all
  variables:
    CIBUILDER_BIN_REF: main
    CIBUILD_RUN_CMD: all
  script:
    - /bin/true
  tags:
    - $CIBUILDER_RUNNER_EXTERNAL_ALL_AMD64
