variables:
  CIBUILDER_IMAGE: "${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stack4ops/cibuilder"
  #CIBUILDER_IMAGE: "docker.io/stack4ops/cibuilder"
  CIBUILDER_REF: "rootless"


include:
  - component: $CI_SERVER_FQDN/$CIBUILDER_COMPONENTS_PATH/trigger@main
    inputs:
      enable_web: "true"
  - component: $CI_SERVER_FQDN/$CIBUILDER_COMPONENTS_PATH/simple@main
    inputs:
      image: "${CIBUILDER_IMAGE}:${CIBUILDER_REF}"
      bin_ref: "main"
      run_cmd: "all"
