name: cibuilder

on:
  workflow_dispatch:
env:
  CIBUILDER_RUNNER_ALL_AMD64: ${{ vars.CIBUILDER_RUNNER_ALL_AMD64 || 'ubuntu-latest' }}
  CIBUILDER_RUNNER_ALL_ARM64: ${{ vars.CIBUILDER_RUNNER_ALL_ARM64 || 'ubuntu-24.04-arm' }}
  CIBUILDER_RUNNER_CHECK_AMD64: ${{ vars.CIBUILDER_RUNNER_CHECK_AMD64 || 'ubuntu-latest' }}
  CIBUILDER_RUNNER_CHECK_ARM64: ${{ vars.CIBUILDER_RUNNER_CHECK_ARM64 || 'ubuntu-24.04-arm' }}
  CIBUILDER_RUNNER_BUILD_AMD64: ${{ vars.CIBUILDER_RUNNER_BUILD_AMD64 || 'ubuntu-latest' }}
  CIBUILDER_RUNNER_BUILD_ARM64: ${{ vars.CIBUILDER_RUNNER_BUILD_ARM64 || 'ubuntu-24.04-arm' }}
  CIBUILDER_RUNNER_TEST_AMD64: ${{ vars.CIBUILDER_RUNNER_TEST_AMD64 || 'ubuntu-latest' }}
  CIBUILDER_RUNNER_TEST_ARM64: ${{ vars.CIBUILDER_RUNNER_TEST_ARM64 || 'ubuntu-24.04-arm' }}
  CIBUILDER_RUNNER_DEPLOY_AMD64: ${{ vars.CIBUILDER_RUNNER_DEPLOY_AMD64 || 'ubuntu-latest' }}
  CIBUILDER_RUNNER_DEPLOY_ARM64: ${{ vars.CIBUILDER_RUNNER_DEPLOY_ARM64 || 'ubuntu-24.04-arm' }}

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN || '' }}
  CIBUILD_CI_TOKEN: ${{ secrets.CIBUILD_CI_TOKEN || '' }}
  CIBUILD_BASE_REGISTRY_PASS: ${{ secrets.CIBUILD_BASE_REGISTRY_PASS  || '' }}
  CIBUILD_TARGET_REGISTRY_PASS: ${{ secrets.CIBUILD_TARGET_REGISTRY_PASS  || '' }}
  CIBUILD_BUILD_BUILDKIT_CLIENT_KEY: ${{ secrets.CIBUILD_BUILD_BUILDKIT_CLIENT_KEY  || '' }}
  CIBUILD_BUILD_BUILDKIT_SERVICE_ACCOUNT: ${{ secrets.CIBUILD_BUILD_BUILDKIT_SERVICE_ACCOUNT  || '' }}
  CIBUILD_TEST_SERVICE_ACCOUNT: ${{ secrets.CIBUILD_TEST_SERVICE_ACCOUNT  || '' }}

jobs:
  all:
    runs-on: ${{ env.CIBUILDER_RUNNER_ALL_AMD64 }}
    permissions:
      contents: read
      packages: write
      actions: write
    steps:
      - uses: actions/checkout@v4
      - uses: eqsoft/actions-cibuilder@v1
        with:
          run_cmd: all
          bin_ref: main
  