name: Simple Build & Deploy

on:
  workflow_dispatch:

jobs:
  all:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run cibuilder pipeline
        env:
          CIBUILD_TARGET_REGISTRY: ${{ env.CIBUILD_TARGET_REGISTRY }}
          CIBUILD_TARGET_IMAGE_PATH: ${{ env.CIBUILD_TARGET_IMAGE_PATH }}
          CIBUILD_TARGET_REGISTRY_USER: ${{ secrets.CIBUILD_TARGET_REGISTRY_USER }}
          CIBUILD_TARGET_REGISTRY_PASS: ${{ secrets.CIBUILD_TARGET_REGISTRY_PASS }}
          CIBUILD_CANCEL_TOKEN: ${{ secrets.CIBUILD_CANCEL_TOKEN }}
          
        run: |
          cat <<EOF > github.env
          GITHUB_SHA=$GITHUB_SHA
          GITHUB_REF=$GITHUB_REF
          GITHUB_REF_NAME=$GITHUB_REF_NAME
          GITHUB_RUN_ID=$GITHUB_RUN_ID
          GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER
          GITHUB_ACTIONS=$GITHUB_ACTIONS
          GITHUB_REPOSITORY=$GITHUB_REPOSITORY
          GITHUB_EVENT_NAME=$GITHUB_EVENT_NAME
          GITHUB_WORKSPACE=$GITHUB_WORKSPACE
          CIBUILD_RUN_CMD=check
          CIBUILD_CHECK_ENABLED=1
          CIBUILD_TARGET_REGISTRY=$CIBUILD_TARGET_REGISTRY
          CIBUILD_TARGET_IMAGE_PATH=$CIBUILD_TARGET_IMAGE_PATH
          CIBUILD_TARGET_REGISTRY_USER=$CIBUILD_TARGET_REGISTRY_USER
          CIBUILD_TARGET_REGISTRY_PASS=$CIBUILD_TARGET_REGISTRY_PASS
          CIBUILD_CANCEL_TOKEN=$CIBUILD_CANCEL_TOKEN
          EOF
          id
          docker info
          docker run --rm \
            --env-file github.env \
            -v "$PWD:/workspace" \
            -w /workspace \
            docker.io/stack4ops/cibuilder:rootless
